<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">


   	:root{
        --primary: #EE2737;

        --secondary: #cacf7a;
        --title : #222222;
        --bg-light: #ffeff0;
        --theme-text-color: #fff;
        --bs-primary: #7DA640;
            --bs-secondary: #FE9F10;
    
        --bs-primary: #7DA640;
        --bs-secondary: #FE9F10;
        --bs-success: #13c24d;
        --bs-info: #00aeff;
        --bs-warning: #FFBD13;
        --bs-danger: #ff0003;
        --bs-light: #faf8f2;
        --bs-dark: #222222;
    }
    